@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Today is: @DateTime.Now<br />
        OS Info: @Environment.OSVersion<br />
        Platform Info: @Environment.Version<br />
    </p>
    <p>
       <a href="index.html">Simple HTML Page</a><br />
       <a href="/HelloWorld">ASP.Net Core Controller</a><br />
    </p>
</div>
